.example-spacer {
    flex: 1 1 auto;
}

.navbar {
    background-color: #3D6B75;
    padding: 2.5rem;
}

.navbar-wrapper {
    width: 100%;
    padding: 0;
}

.navbar-content {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.psa_logo {
    margin-right:1rem;
}