/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    background: #4B585B;
 }

 h1, h2 {
     color: #FFFFFF;
 }

 body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 mat-table {
     border-radius: 0.5rem;
 }

 .mat-select-value {
     color:white;
 }

 .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3d6b75;
}

.mat-sort-header-arrow {
    color: azure;
}

th.mental_header > .mat-sort-header-container {
    text-align: right !important;
    justify-content: flex-end !important;
}