.info_dialog-header-label {
    color: black;
    font-weight: 500;
}

.info_dialog-information-label {
    background-color: #3D6B75;
}

.info_dialog-information-label {
    padding: 1rem;
}
.info_dialog-information-label-name {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 500;
}