.overview_title {
    height: 100%;
}

.overview_title_label {
    font-weight: 500;
}

.overview_wellbeing {
    margin-top: 2rem;
}

.overview_wellbeing_title_label {
    text-align: center;
    font-weight: 500;
}

table {
    width: 100%;
}