.overview_title {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.overview_title_button {
    display: flex;
    align-items: center;
    background-color: #3D6B75;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
}

.overview_title_label {
    font-weight: 500;
}

.overview_wellbeing {
    margin-top: 1rem;
}

.overview_wellbeing_title_label {
    text-align: center;
    font-weight: 500;
}

table {
    width: 100%;
    border-radius: 0.5rem;
}

.table_header_row_label {
 background: rgb(102, 100, 100);   
}

.table_header__header_row {
    background-color: #3D6B75;
}

th.mental_header > .mat-sort-header-container {
    display: flex;
    text-align: right !important;
    justify-content: flex-end !important;
}

.mat-header-cell {
    color: #EEEEEE;
    // font-weight: 500;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
} 

.mat-column-score {
    text-align: right;
}

.table_name {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.table_name:hover {
    text-decoration: underline;
    cursor:pointer;
}

.table_score:hover {
    cursor:pointer;
}

.table_score {
    font-size: 1.5rem;
    font-weight:500;
}

.table_score_box {
    width: 80px;
    margin-right: 0;
    margin-left: auto;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

mat-paginator {
    background: rgb(102, 100, 100);
    color: white;
}
